
.seccion {

    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }


}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
}


.my-popup {
    font-size: 16px; /* ajusta el tamaño del texto */
    width: 500px; /* ajusta el ancho del cartel */
}

.my-title {
    font-size: 24px; /* ajusta el tamaño del título */
}

.my-content {
    font-size: 18px; /* ajusta el tamaño del texto del contenido */
}

.my-confirm-button {
    font-size: 18px; /* ajusta el tamaño del botón */
}
